---
export interface Props {
  src: string;
  href?: string | undefined;
  alt?: string | undefined;
}

const { src, href, alt } = Astro.props;
---

<style>
  a,
  span {
    display: inline-block;
    width: 88px;
    height: 31px;
    margin: 0px 5px;
    transition: all 60s ease;
  }

  a:hover, span:hover {
    transition: 1s ease;
    transition-timing-function: steps(60, ease);
    transform: scale(1.5);
  }
</style>
{
  href ? (
    <a href={href}>
      <img src={src} alt={alt} />
    </a>
  ) : (
    <span>
      <img src={src} alt={alt} />
    </span>
  )
}
