---
import { type InferEntrySchema } from "astro:content";
import Layout from "./Layout.astro";

interface Props {
  data: InferEntrySchema<"posts">;
}

const { data } = Astro.props;
---

<Layout title={data.title} description={data.description}>
  <div class="blog-post">
    <div class="metadata">
      {
        /*<span class="desc">
          {data.description}
        </span>
        &nbsp;&nbsp;&nbsp;&nbsp;*/
      }
      <span class="pub-date">
        <time
          datetime={data.pubDate.toISOString()}
          title={data.pubDate.toString()}
        >
          {data.pubDate.toLocaleDateString()}
        </time>
      </span>
    </div>
    <div class="post-text">
      <slot />
    </div>
  </div>
</Layout>

<style>
  :global(.site-title) {
    margin-bottom: 0;
  }

  .metadata p {
    margin-top: 0;
  }

  .metadata {
    font-size: 0.85em;
    color: rgb(200, 200, 200);
  }

  /* THEMING FOR THE POST */

  .post-text :global(p) {
    margin-bottom: 0.15em;
    margin-top: 0em;
  }

  .post-text :global(.astro-code) {
    padding: 0.5em;
  }
</style>
