---
import { type InferEntrySchema } from "astro:content";
import Layout from "./Layout.astro";

interface Props {
  data: InferEntrySchema<"posts">;
}

const { data } = Astro.props;
---

<Layout title={data.title} description={data.description}>
  <div class="blog-post">
    <div class="metadata">
      {
        /*<span class="desc">
          {data.description}
        </span>
        &nbsp;&nbsp;&nbsp;&nbsp;*/
      }
      <span class="pub-date">
        <time
          datetime={data.pubDate.toISOString()}
          title={data.pubDate.toString()}
        >
          {data.pubDate.toLocaleDateString()}
        </time>
      </span>
    </div>
    <div class="post-text">
      <slot />
    </div>
  </div>
</Layout>

<style>
  :global(.site-title) {
    margin-bottom: 0;
  }

  .metadata p {
    margin-top: 0;
  }

  .metadata {
    font-size: 0.85em;
    color: rgb(200, 200, 200);
  }

  /* THEMING FOR THE POST */

  :global(:not(.astro-code)) > :global(code) {
    background-color: #24292e;
    color: #e1e4e8;
    padding: 0.1em 0.2em 0em 0.2em;
  }

  .post-text {
    table {
      border: 2px solid white;
      border-collapse: collapse;
    }

    td,
    th {
      border: 1px solid white;
      text-align: center;
    }

    .post-text p {
      margin-bottom: 0.8em;
      margin-top: 0em;
    }

    video {
      width: 100%;
    }

    :global(.astro-code) {
      padding: 0.5em;
    }
  }
</style>
